
@{
    ViewBag.Title = "Imanov";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div id="hr_">
        Иманов Антон Мамедович
        <hr/>
    </div>
</center>
<center>
        <div id="wrapperAbout1">
            <div id="arc1">
                <arcticle>
                    <div id="aboutUsImg">
                        <img src="/img/Антон.png" alt="Иманов Антон">
                    </div>
                    <div id="aboutUsTxt">
                        <a href="Imanov.A.A.html"> <h3>Иманов Антон Мамедович</h3></a>
                        Back-end developer
                    </div>
                </arcticle>
            </div>
        </div>
</center>

