@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<center>
    <div id="hr_">
        Добро пожаловать
        <hr/>
    </div>
</center>
<div id="inputData">
    <center>
        <div id="inputText">
            <input type="text" class="inTxt" placeholder="Логин" autofocus />
            <br/>
            <input type="text" class="inTxt" placeholder="Пароль" />
            <br/>
        </div>
        <div id="inputButton">
            @using (Html.BeginForm("Main", "Home"))
            {
                <button type="submit" title="Войти">Войти</button>
            }

            @using (Html.BeginForm("Reg", "Home"))
            {
                <button type="submit" title="Зарегистрироваться">Зарегистрироваться</button>
            }
        </div>
        <div id="hr_">
            <hr />
            <h6>@Html.ActionLink("Забыли пароль?", "ForgotPass", "Home")</h6>
        </div>
    </center>
</div>