
@{
    ViewBag.Title = "Kononov";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div id="hr_">
        Кононов Даниил Андреевич
        <hr/>
    </div>
</center>
<center>
    <div id="wrapperAbout1">
        <div id="arc1">
            <arcticle>
                <div id="aboutUsImg">
                    <img src="/img/Я.png" alt="Кононов Даниил">
                </div>
                <div id="aboutUsTxt">
                    <a href="Kononov.D.A.html"><h3>Кононов Даниил Андреевич</h3></a> <br/>
                    Front-end developer
                </div>
            </arcticle>
        </div>
    </div>
</center>

