
@{
    ViewBag.Title = "Kovtunenko";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div id="hr_">
        Ковтуненко Татьяна Александровна
        <hr/>
    </div>
</center>
<center>
    <div id="wrapperAbout1">
        <div id="arc1">
            <arcticle>
                <div id="aboutUsImg">
                    <img src="/img/Таня.png" alt="Ковтуненко Татьяна">
                </div>
                <div id="aboutUsTxt">
                    <a href="Kovtunenko.T.A.html"> <h3>Ковтуненко Татьяна Александровна</h3></a>
                    Tester
                </div>
            </arcticle>
        </div>
    </div>
</center>

